<h1>Bill of Lading</h1>

<div class="row">
  <div class="col-12 col-lg-9">
    <p class="border shadow-sm rounded-sm bg-light p-3">
      URL: <code class="font-weight-bold">/bill_of_lading?timestamp=123456&ip_address=1.2.3.4</code>
      <br />
      <small class="text-muted font-italic">For automatic printing, additional query string parameters are required: <code>autoprint</code>.</small>
    </p>
  </div>
  <div class="col-12 col-lg-3">
    <div class="bg-light rounded-sm shadow-sm border p-3">
      <a class="btn btn-sm btn-block btn-secondary" href="<%= bill_of_lading_url %>" target="_blank">Sample</a>
    </div>
  </div>
</div>